.App {
  text-align: center;
  height: 734px;
  background-color: bisque;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.moveCentre {
  align-items: center;
  margin-top: 130px;
  /* margin-top: 213px; */
}

/* 
 .back {
  background-image: url(./images/Picture1.jpg);
  position: relative;
  width: 100%;
  height: auto;
  height: 300px;
  background-repeat: no-repeat;
  background-size: auto;
}  */
